<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.finalwork.nicetrip.handle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.finalwork.nicetrip.handle.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.finalwork.nicetrip.handle.LoginActivity"
            android:screenOrientation="portrait"
            android:label="Login" >
        </activity>

        <activity
            android:name="se.finalwork.nicetrip.handle.RegisterPageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" ></activity>

        <activity
            android:name="se.finalwork.nicetrip.handle.DashboardActivity"
            android:label="@string/title_activity_first_page"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="se.finalwork.nicetrip.handle.NewTripActivity"
            android:label="@string/title_activity_new_trip"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="se.finalwork.nicetrip.handle.SpendingActivity"
            android:label="@string/title_activity_spending"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="se.finalwork.nicetrip.handle.SpendListActivity"
            android:label="@string/title_activity_spend_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name="se.finalwork.nicetrip.handle.TripListActivity"
            android:label="@string/title_activity_spend_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="se.finalwork.nicetrip.handle.ConfigurationsActivity"
            android:theme="@style/PreferenceTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_configurations" >
        </activity>
    </application>

</manifest>
